[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule ".\\plugins\\toc"]
	path = .\\plugins\\toc
	url = https://github.com/ingwinlu/pelican-toc
[submodule ".\\plugins\\cite"]
	path = .\\plugins\\cite
	url = https://github.com/cmacmackin/pelican-cite
