{% extends "base.html" %}
{% block content %}
    {% if articles %}
    <h2>Latest Posts:</h2>
        <ul>
        {% for year, list in articles | groupby('date.year') | reverse %}
            {% for month, list_ in list | groupby('date.month') | reverse %}
                <li class="groupby">{{ list_[0].date | strftime('%b') }}, {{ year }}</li>
                {% for article in list_ %}
                    <li class="article-item">
                        <span class="article">{{ article.date | strftime('%b %d, %Y') }}</span><a href="{{ SITEURL }}/{{ article.url }}"><b>{{ article.title }}</b></a>
                    </li>
                    <li class="article-summary">
                        <div class="article-summary">
                        {% if article.cover %}
                            <p align="center"><img src="{{ article.cover }}" style="width: auto; max-height: 264px;"></p>
                        {% endif %}
                        <span class="article-summary">{{ article.summary }}</span>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
