/* Change main colors

You can choose lighter colors on http://www.0to255.com.

The current colors for labels and buttons are 5 levels lighter than the main
colors.

The border color is two levels darker.

*/
.navbar-collapse, .navbar-default .navbar-form {
    background-color: #dd4814;
    border-color: #bf3e11;
}
.label-default {
    background-color: #f07e56;
    border-color: #ed6637;
}
.btn-default {
    background-color: #f07e56;
    border-color: #ed6637;
    font-weight: bold;
    font-size: 75%;
}

/* Index page */
li.groupby {
    margin-top: 1em;
    list-style: none;
    padding-left: 0.5em;
}
li.article-item {
    display: flex;
    list-style: none;
    padding-left: 1.5em;
}
li.article-summary {
    list-style: none;
    padding-top: 0.5em;
    padding-left: 2.5em;
}
span.article {
    min-width: 100px;
    color: grey;
}

/* CSS for tag_cloud plugin */
ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 120%;
    display: inline;
    padding: 10px 5px 0px 5px;
}

li.tag-2 {
    font-size: 100%;
    display: inline;
    padding: 10px 5px 0px 5px;
}

li.tag-3 {
    font-size: 80%;
    display: inline;
    padding: 10px 5px 0px 5px;
}

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}

/* Add round boxes and space around box to search form. */
#tipue_search_input {
    border-radius: 4px;
    margin: 4px;
}